<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="whiteBG">
    <div class="oj-flex">
        <div class="carST">
            车型
        </div>
        <div class="">
            <oj-select-one id="basicSelect" value="{{$parent.selectValue}}" style="max-width:10em" on-value-changed="[[$parent.carDidChangeHandler]]">
                <oj-option value="H7">红旗H7-FL</oj-option>
                <oj-option value="H8">红旗H8-FL</oj-option>
            </oj-select-one>
        </div>
    </div>
    <div id="sampleDemo" style="" class="demo-padding demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
            <div id="panelPage">


                <div class="oj-panel oj-sm-margin-2x">
                    <div class="month-count-0">累计到店数量(STD)</div>
                    <div class="month-count-1">962</div>
                    <div class="month-count-2">台</div>
                </div>

                <div class="oj-panel oj-sm-margin-2x ">
                    <div class="month-count-0">终端销售(AAK)</div>
                    <div class="month-count-1">539</div>
                    <div class="month-count-2">台</div>
                </div>
                <div class="oj-panel oj-sm-margin-2x ">
                    <div class="month-count-0">累计反馈问题</div>
                    <div class="month-count-1">142</div>
                    <div class="month-count-2">频次</div>
                </div>
                <div class="oj-panel oj-sm-margin-2x ">
                    <div class="month-count-0">千台车故障率</div>
                    <div class="month-count-1">134.72‰</div>
                    <div class="month-count-2"></div>
                </div>
                <div class="oj-panel oj-sm-margin-2x">
                    <div class="month-count-0">终端用户反馈故障</div>
                    <div class="month-count-1">27</div>
                    <div class="month-count-2">频次</div>
                </div>
                <div class="oj-panel oj-sm-margin-2x ">
                    <div class="month-count-0">千车抱怨率</div>
                    <!-- ko foreach: dataurlarr2 -->
                    <my-line data-url="{{dataurl}}" chart-name="{{chartname}}" />
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>